@charset "utf-8";
/* CSS Document */

h1{
	color:red;
	font-size: 60px;
	letter-spacing: 10px;
}
h2{
	color: red;
 	font-size:30px;
	letter-spacing: 10px;
}

ul.lou{
	list-style-type: lower-latin;/*alfabe ve sayısal sıralama normalde ol nin typlerında vardır ulde yoktur ama burdan yazarak default olmayan tipi verebilirsin none değeri verip sıralamayı kaldıradabilirsin ve burda ul ye yapabildiklerini ol ye de yapabilirsin*/
	list-style-position: inside;/*ul ye margin 0 ve padding 0 verdiğinde sıralama öğeleri sayfa dışına çıkıp görülemez hale gelir bunu engellemek için position inside yaparsan bu margini ve padding i sıralama öğelerinide hesaba alarak kullanır ve öğeler sayfa içinde kalır*/
	
	list-style-image: url(https://cdn3.iconfinder.com/data/icons/feather-5/24/check-circle-64.png)
}

ol.loo{
	counter-reset: sayac1 3 sayac2;/*sayac1 3 den sayac2 0 dan*/
}
ol.loo li{
	counter-increment: sayac1 2 sayac2;/*sayacı1 i 2 şer sayac 2 yi 1 er arttırır arttırır*/
}

ol.loo li::before{
	content: counter(sayac1)"-";
}

ol.loo li::after{
	content: "-"counter(sayac2);
}

.articles{
	counter-reset: msayac;
}

.articles article{
	counter-increment: msayac;
}

.articles article h3::before{
	content: counter(msayac) ". Makale -->";
}