@charset "utf-8";
@import"CSSornek1.2.css"; /*import ile başka bir css dosyasındaki kodları çekebilirsin*/
/* CSS Document */
body {
	background: red;
}

p{
	color: purple;
} /*etiket seçicisi p(paragraf) spesifik bi id belirtmediğim için bütün p içindekilerin rengini mor yapar*/

li{
	color: pink;
}
span{
	color: green
}

div{
	color: blue
}

h3#title1 {
	color: coral
}
/* # id belirtecidir burda h3 etiketindeki title1 id li elemanı seçti bu şekilde yukarıdakilerin aksine spesifik bir elemanda işlem yapılabilir  */