@charset "utf-8";
/* CSS Document */
h1{
	color:red;
	font-size: 60px;
	letter-spacing: 10px;
}
h2{
	color: red;
 	font-size:30px;
	letter-spacing: 10px;
}


p.ta{
	text-align: center;
}/*center ile kullanırsan yazıyı ortalar left ile kullanırsan sola right ile kullanırsan sağa yaslar*/
p.ta{
	text-align-last: right;
}/*son satırı sağa yaslar burda kullanınca işe yaramadı nedense boş sayfada deneyince çalışıyo*/

div.td{
	/*text-decoration-line: underline overline;
	text-decoration-color: aqua;
	text-decoration-style: wavy;*/
	text-decoration: underline overline lime wavy;
}/*line: decoration üstünemi altınamı yapılıcak belirler color: dekorsayonun rengini belirler style:ise şeklini*/

div.td:last-of-type{
	text-decoration: none;
}/*td classındakii son div tipindeki text decorationları siler*/

h3.td{
	text-decoration: underline overline lime wavy;
}

p.ti{
	text-indent: 15px;
}/*paragraf başında 15 px lik boşluk bırakır*/

div.ws{
	/*white-space: nowrap;*/
	/*br kullanılmadıkça alt satıra inmesini engeller*/
	/*white-space: pre;*/
	/*sayfaları tamamen kod kısmında yazıldığı şekilde gösterir boşluklar düzenini korur*/
	/*white-space: pre-wrap;*/
	/*üsttekiyle aynı anca eğer sayfadan taşıyosa satırı aşşağı indirir*/
	white-space: pre-line;/*br kullanman gerekmez kendi satırı indirir*/
}
p.tt{
	/*text-transform: lowercase;*/
	/*bütün harfleri küçültür*/
	/*text-transform: uppercase;*/
	/*büyütür*/
	text-transform: capitalize;
	/*her kelimenin ilk harfini büyütür*/
}
p.tt:last-child{
	text-transform: none;
	/*text transformu siler*/
}



